name: Deploy Conceptual Orthogonality

on:
  push:
    branches: ["main"]
  
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.154.2
    
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Initialize submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --force

      - name: Build with Hugo
        env:
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          hugo \
            --gc \
            --minify \
            --baseURL "https://blog.cotti.com.br/"

      - name: Deploy to Server
        uses: appleboy/scp-action@ff85246acaad7bdce478db94a363cd2bf7c90345
        with:
          host: "cotti.com.br"
          username: ${{ secrets.BLOG_USER }}
          key: ${{ secrets.BLOG_KEY }}
          source: "public/*"
          target: "/cotti.com.br/blog/"
          strip_components: 1